@use "sass:math";
@use "sass:map";
@use "sass:string";

//ブレイクポイントの値
$breakpoints: (
  sp: 375,
  md: 768,
  lg: 1000,
  xl: 1512,
);

// ブレイクポイントの設定（修正版）
@mixin mq($mediaquery: md) {
  $breakpoint: map.get($breakpoints, $mediaquery);

  @if $breakpoint {
    @media screen and (max-width: #{$breakpoint}px) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$mediaquery} not found in $breakpoints map.";
  }
}
