@use "../global" as *;

html {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  scroll-padding-top: 80px;

  @include mq("md") {
    width: 100%;
    scroll-padding-top: 50px;
  }
}

body {
  font-family: $base-font;
}

// PCでは電話番号のクリックを無効にする
a[href^="tel:"] {
  pointer-events: none;
  @include mq("md") {
    pointer-events: auto;
  }
}

// aタグには標準でホバーアニメーションが付与されるようにする
a {
  transition: opacity 0.3s;
  // &:hover {
  //   opacity: 0.7;
  // }
}
